.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.search-label {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
}

.small-img {
    width: 30px;
    height: 30px;
}

.styled-input {
    width: 300px;
    padding: 8px;
    border: 2px solid transparent;
    border-radius: 8px;
    background-image: linear-gradient(white, white), linear-gradient(90deg, #3498db, #8e44ad);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}
